<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fugit nam sunt iste tenetur error.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nam consectetur saepe placeat odit quibusdam recusandae reiciendis, labore soluta doloremque!</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>